@font-face {
  font-family: "Roman-Regular";
  src: url("./fonts/Verajja-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roman-Bold";
  src: url("./fonts/Verajja-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roman-Regular";

  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  ::-webkit-scrollbar-thumb {
    background: transparent; /* Optional: show position indicator in transparent */
  }
}

body {
  text-align: center;
  font-family: "Roman-Regular";
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  padding: 50px 0;

  #input-layout {
    width: 80%;
    min-width: 250px;
    max-width: 300px;
    color: floralwhite;
    background-color: darkslategray;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h1 {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      font-size: 24px;
    }

    .enter-inputs {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      padding: 0 20px;

      label {
        display: block;
        text-align: left;
        border-radius: 3px;
        line-height: 1;
        font-size: 14px;
        padding-bottom: 3px;
        width: 100%;
      }

      input {
        display: block;
        text-align: left;
        border-radius: 3px;
        border: none;
        line-height: 1;
        font-size: 14px;
        padding: 6px 5px;
        width: 100%;

        :hover {
          border: 1px solid red;
        }
      }
    }

    .enter-buttons {
      display: flex;
      padding: 0 20px;
      margin-bottom: 20px;
      column-gap: 10px;

      button {
        padding: 8px 5px;
        width: calc(100% / 3);
        text-transform: uppercase; /*capitalize*/
        line-height: 1;
        border: none;
        border-radius: 3px;
        color: white;
      }

      button:nth-child(1) {
        background-color: #00ab46;
      }

      button:nth-child(2) {
        background-color: #006ffe;
      }

      button:nth-child(3) {
        background-color: #ff4200;
      }
    }
  }

  #find-layout {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: darkslategray;
    background-color: #ffe8ba;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.3);

    h1 {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      font-size: 24px;
    }

    div {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 0 20px;

      input {
        display: block;
        text-align: left;
        border-radius: 3px;
        border: none;
        line-height: 1.3;
        font-size: 14px;
        padding: 7px 5px;
        width: 100%;
      }

      button {
        width: 100%;
        line-height: 1.3;
        padding: 8px 5px;
        border: none;
        border-radius: 3px;
        color: floralwhite;
        background-color: orange;
      }
    }

    div:last-child {
      padding-bottom: 20px;
    }
  }

  #users-layout {
    width: 80%;
    min-width: 300px;
    max-width: 320px;
    color: darkslategray;
    background-color: floralwhite;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    h1 {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      font-size: 24px;
    }

    table {
      padding: 0 20px;
      padding-bottom: 20px;

      tr {
        display: flex;

        th,
        td {
          width: 15%;
          padding: 2px 5px;
          text-align: left;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        th:last-child,
        td:last-child {
          text-align: right;
        }

        th:nth-child(2),
        td:nth-child(2) {
          width: 70%;
        }
      }

      tbody {
        tr:nth-child(odd) {
          background-color: #ffe8ba;
        }
      }
    }
  }
}
